@charset "UTF-8";
/* Стили для index.html */
/* Цвета текста */
/* Цвет основного текста #757575 */
/* Цвет вторичного текста #212121 */
/* Акцент #2196F3 */
/* Белый цвет #FFFFFF */
/* Почта, телефон футера rgba(255, 255, 255, 0.6) */
/* Цвета фона */
/* Цвет шапки #FFFFFF */
/* Цвет основной части и подвала #2F303A */
/* Цвет преимущест компании #E5E5E5 */
/* Цвет команды #F5F4FA */
/* Цвет иконок #AFB1B8 */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --hero-color-background: #2f303a;
  --black-color: #000000;
  --team-color-background: #f5f4fa;
  --footer-color-background: #2f303a;
  --footer-color-mail: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --anim-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Убираем точки */
.portfolio__works, .filter, .footer__list, .client__list, .team__list, .work__list, .features__list, .contact, .nav__list, .socials {
  list-style: none;
}

/* Убираем подчеркивания */
.footer__mail, .footer__address, .client__link, .contact__link, .nav__link, .socials__link, .logo {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Стили для обнуления отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

.portfolio__container, .footer__container, .client__container, .team__container, .work__container, .features__container, .hero__container, .header__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .portfolio__container, .footer__container, .client__container, .team__container, .work__container, .features__container, .hero__container, .header__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__container, .footer__container, .client__container, .team__container, .work__container, .features__container, .hero__container, .header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__container, .footer__container, .client__container, .team__container, .work__container, .features__container, .hero__container, .header__container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

/* Логотип компании */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  padding-top: 16px;
  padding-bottom: 16px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.logo__black {
  color: var(--black-color);
}

.logo__white {
  color: var(--white-color);
}

/* Кнопка */
.button {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: transparent;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color var(--anim-slow), background-color var(--anim-slow);
  transition: color var(--anim-slow), background-color var(--anim-slow);
}
.button:hover, .button:hover {
  color: var(--white-color);
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
}

/* Социальные сети */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__team {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: fill var(--anim-slow), background-color var(--anim-slow);
  transition: fill var(--anim-slow), background-color var(--anim-slow);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.socials__link--team {
  fill: var(--icon-color);
}

.socials__link--footer {
  background: rgba(255, 255, 255, 0.1);
}

.socials__icon--footer {
  fill: var(--white-color);
}

/* Форма регистрации */
.register__form {
  padding: 40px;
}

.register__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.register__group {
  margin-bottom: 20px;
}

.register__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.register__wrap:not(:last-child) {
  margin-bottom: 10px;
}

.register__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.register__field {
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--anim-slow);
  transition: border-color var(--anim-slow);
}
.register__field:focus {
  border-color: var(--accent-color);
}
.register__field:focus + .register__icon {
  fill: var(--accent-color);
}

.register__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--title-text-color);
}

.register__message {
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  -webkit-transition: border-color var(--anim-slow);
  transition: border-color var(--anim-slow);
}
.register__message:focus {
  border-color: var(--accent-color);
}
.register__message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register__message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register__message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register__message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.register__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.register__checkbox:focus + .register__agreement-icon {
  outline: 2px solid var(--accent-color);
  outline-offset: 1px;
  border-radius: 2px;
}

.register__icon--uncheck {
  opacity: 1;
  -webkit-transition: opacity var(--anim-slow);
  transition: opacity var(--anim-slow);
}

.register__checkbox:checked + .register__agreement-icon > .register__icon--uncheck {
  opacity: 0;
}

.register__icon--check {
  opacity: 0;
  fill: var(--accent-color);
  -webkit-transition: opacity var(--anim-slow);
  transition: opacity var(--anim-slow);
}

.register__checkbox:checked + .register__agreement-icon > .register__icon--check {
  opacity: 1;
}

.register__agreement-text {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register__agreement-link {
  color: var(--accent-color);
  text-underline-position: under;
  text-decoration: underline;
}

.register__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity var(--anim-slow), visibility var(--anim-slow);
  transition: opacity var(--anim-slow), visibility var(--anim-slow);
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden,
.backdrop:not(.is-open) {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
}

.close__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.mobile-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  margin-left: auto;
  border: none;
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-button {
    display: none;
  }
}

.mobile-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform var(--anim-fast) 100ms;
  transition: -webkit-transform var(--anim-fast) 100ms;
  transition: transform var(--anim-fast) 100ms;
  transition: transform var(--anim-fast) 100ms, -webkit-transform var(--anim-fast) 100ms;
}

.mobile-button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__link--current {
  color: var(--accent-color);
}

.mobile-contact__list {
  margin-top: auto;
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contack__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

.mobile-contack__link--current {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-media__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-media__item {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
}

.mobile-media__item + .mobile-media__item {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-media__link--current {
  color: var(--accent-color);
}

/* Шапка сайта (header) */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Навигация сайта */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767.98px) {
  .nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    margin-left: 87px;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-right: 0;
    margin-left: 93px;
  }
}

.nav__item {
  position: relative;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Регистрация сайта */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact__item {
  position: relative;
}

.contact__item + .contact__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) {
  .contact__item + .contact__item {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin: 0;
    margin-left: 50px;
  }
}

.contact__link {
  display: inline-block;
  padding: 32px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  -webkit-transition: color var(--anim-slow);
  transition: color var(--anim-slow);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contact__link {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact__link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact__link .contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .contact__link .contact__icon {
    margin-right: 8px;
  }
}

/* Главный герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: var(--hero-color-background);
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Преимущества компании */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .features__list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767.98px) {
  .features__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__item + .features__item {
  margin-left: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__item + .features__item {
    margin-left: 0;
  }
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: var(--team-color-background);
}
@media screen and (max-width: 767.98px) {
  .features__icon {
    max-width: 450px;
  }
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .features__title {
    text-align: center;
  }
}

.features__description {
  line-height: 1.71;
}

/* Чем занимается компания */
.work {
  padding-top: 0;
}

@media screen and (max-width: 767.98px) {
  .work__container {
    width: 480px;
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .work__container {
    display: none;
  }
}

.work__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item + .work__item {
  margin-left: 30px;
}

.work__item {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Команда компании */
.team {
  background-color: var(--team-color-background);
}

.team__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .team__title {
    font-size: 28px;
    line-height: 1.1785714286;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 767.98px) {
  .team__item + .team__item {
    margin-top: 30px;
  }
}

.team__workers {
  padding: 30px 0px;
}

.team__player {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__profession {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

/* Клиенты */
.client__title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  -webkit-transition: fill var(--anim-slow), border var(--anim-slow);
  transition: fill var(--anim-slow), border var(--anim-slow);
}
.client__link:hover, .client__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Футер */
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--footer-color-background);
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__contact {
  margin-top: 20px;
}

.footer__address {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

/* Почта и телефон компании */
.footer__mail {
  color: var(--footer-color-mail);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--anim-slow);
  transition: color var(--anim-slow);
}
.footer__mail:hover, .footer__mail:focus {
  color: var(--accent-color);
}

.footer__social {
  margin-left: 70px;
  width: 206px;
  min-height: 80px;
}

.footer__social-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--anim-slow);
  transition: background-color var(--anim-slow);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__social-icon {
  fill: var(--white-color);
}

/* Раздел подписка */
.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 570px;
  min-height: 86px;
  margin-left: 93px;
}

.footer__subscribe-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: var(--footer-color-mail);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
}
.footer__subscribe-input:focus {
  outline: transparent;
}

.footer__subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-left: 12px;
}

/* Секция портфолио */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__list + .filter__list {
  margin-left: 8px;
}

.filter__button {
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  border: 1px inset transparent;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--team-color-background);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: color var(--anim-slow), background-color var(--anim-slow), -webkit-box-shadow var(--anim-slow);
  transition: color var(--anim-slow), background-color var(--anim-slow), -webkit-box-shadow var(--anim-slow);
  transition: color var(--anim-slow), background-color var(--anim-slow), box-shadow var(--anim-slow);
  transition: color var(--anim-slow), background-color var(--anim-slow), box-shadow var(--anim-slow), -webkit-box-shadow var(--anim-slow);
}
.filter__button:hover, .filter__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.filter__button--aktiv {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__works-item {
  max-width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.portfolio__works-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__works-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio__works-item:hover .works__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__works-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__works-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio__works-item:hover .works__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__works-link {
  display: block;
  -webkit-transition: background-color var(--anim-slow);
  transition: background-color var(--anim-slow);
  -webkit-transition: border var(--anim-slow), -webkit-box-shadow var(--anim-slow);
  transition: border var(--anim-slow), -webkit-box-shadow var(--anim-slow);
  transition: border var(--anim-slow), box-shadow var(--anim-slow);
  transition: border var(--anim-slow), box-shadow var(--anim-slow), -webkit-box-shadow var(--anim-slow);
}
.portfolio__works-link:hover, .portfolio__works-link:focus {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__border {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
}

.portfolio__list {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* Работы */
.works {
  position: relative;
  overflow: hidden;
}

.works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-slow);
  transition: -webkit-transform var(--anim-slow);
  transition: transform var(--anim-slow);
  transition: transform var(--anim-slow), -webkit-transform var(--anim-slow);
  background-color: rgba(33, 150, 243, 0.9);
}

.works__overlay-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--white-color);
}/*# sourceMappingURL=main.css.map */