/* Работы */

.works {
  position: relative;
  overflow: hidden;
}

.works__overlay {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform var(--anim-slow);

  background-color: rgba(33, 150, 243, 0.9);
}

.works__overlay-text {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 24px;

  font-size: 18px;
  line-height: calc(28 / 18);

  color: var(--white-color);
}
