/* Навигация сайта */

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    @extend %list;
    display: flex;
    margin-left: 93px;

    @include mq(mob-only) {
            display: none;
    
        }
    
    @include mq(tab) {
    margin-left: 87px;
    margin-right: 96px;}

        @include mq(desk) {
        margin-right: 0;
        margin-left: 93px;
         }
    

}

.nav__item {
    position: relative;
}

.nav__item + .nav__item {
    margin-left: 50px;
}

.nav__link {
    @extend %link;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    

    &:hover,
    &:focus {
        color: var(--accent-color);
        }

        

}

.nav__link--current {
    color: var(--accent-color);
    
        &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -1px;
        left: 0;

        border-radius: 2px;
        background-color: var(--accent-color);
}

}