/* Чем занимается компания */

.work {
    padding-top: 0;
}

.work__container {
    @extend %container;
    

    @include mq(mob-only) {
            width: 480px;
    display: none;
        }
    
        @include mq(tab-only) {
          display: none;
        }
        }


.work__title {
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.work__list {
    @extend %list;
    display: flex;
}

.work__item+.work__item {
    margin-left: 30px;
}

.work__item {
    position: relative;
}

.work__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;

    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
}